<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8"/>
  <title>Bootstrap Cover Template</title>
  
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'/>

      <link rel="stylesheet" href="../static/css/style.css"/>

  
</head>

<body>
  
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Dave's List</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/ListRooms">Rooms</a></li>
                  <li><a href="/addRoom">Add a Room</a></li>
                  <li><a href="#">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Find your space</h1>
            <p class="lead">Explore rooms in and around Gaithersburg where you can stay during the Code Work Academy Java Bootcamp. Make a list of your preferences before going to see them. Is the room already rented? There's a checkbox for that! </p>
          </div>

        </div>

      </div>

    </div>
  
  
</body>
</html>
